* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    background-color: #0698B9;
}

.container-main {
    width: 25%;
    height: auto;
    background-color: #2D2072;
    border-radius: 25px;
}

.container-inside {
    width: 100%;
    height: 100%;
    /* background-color: wheat; */
}

/* Section top */
.search-box {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-top: 30px;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
}

.search-input input {
    width: 100%;
    padding: 1vw 2vw;
    border: 1px solid transparent;
    border-radius: 15px;
}

.search-icon {
    padding: 1.5%;
    border: 2px solid transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1AB5ED;
}

/* Middle section */

.middle-section {
    width: 100%;
    height: 65%;
    /* display: none; */
    /* border-top: 1px solid black;
    border-bottom: 2px solid black; */
    /* background-color: red; */
}


.saved-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.saved-image img {
    width: 50%;
    height: 40%;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.temp-area {
    width: 100%;
    margin-top: 20px;
}

.celsius {
    width: 100%;
    letter-spacing: 2px;
    line-height: 3vw;
}

.celsius h2 {
    font-size: 2vw;
    text-align: center;
    color: white;
}

.celsius h3 {
    font-size: 1.5vw;
    text-align: center;
    color: white;
}

/* 404 */

.middle-section-404 {
    width: 100%;
    height: 65%;
    display: none;
    /* border-top: 1px solid black;
    border-bottom: 2px solid black; */
    /* background-color: red; */
}

/* bottom section */

.bottom-section {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 1.5vw;
    /* background-color: purple; */
}

.humidity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}

.humidity-img {
    width: 3vw;
    height: 3vw;
}


.humidity-text h4 {
    color: white;
}

.speed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.speed-img {
    width: 3vw;
    height: 3vw;
}

.speed-text h4 {
    color: white;
}